body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 75px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 20px;
}

.search-bar {
  width: 450px;
  height: 24px;
  border: none;
  padding: 16px 16px 16px 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
}

.movie {
  margin: 2px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.movie > .title {
  margin: 0px 5px;
  font-weight: 200;
  font-size: 22px;
  color: #4d4d4d;
}

.movie > .emoji {
  font-size: 28px;
  margin: 0;
}
